/* Se aplica a toda la pagina */
body {
    font-family: Tahoma;
    background: black;
    color: white;
}

html, body {
    margin: 0px;
}

h1{
    font-size: 37px;
}

h1:hover{
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
}

h1{
    color: white;

}


/* Cuadro de opciones */
.Opciones {
    position: absolute;
    top: 90px;
    right: 18px;
    width: 355px;
    height: 170px;
    border: 5px solid #fffafa;
    color: #C1A841;
    border-radius: 7px;
    font-size: 28px;
}

.Opciones input {
    width: 15px;
    height: 15px;
}

/* Boton Reset */
.Reiniciar {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    color: white;
    background: #ffaf4a;
    position: absolute;
    top: 730px;
    right: 18px;
    padding: 5px 30px;
    background-image: url("../imagenes/img11.jpg"); /* imagen del boton */
    background-size: cover;
    margin: 0px 0px 121px 0px;
}

/* Cuadro que contiene el tirulo principal, los links y el logo UCC */
.info {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100px;
    border: 7px solid #fffafa;
    border-radius: 7px;
    font-size: 25px;
    background: #134285;
}

.info img {
    width: 165px;
    height: 100px;
    float: right;
}

/* Titulo Principal*/
#tituloLAB {
    color: white;
    padding: 0px 30px;
    display: inline-block;
}

.info nav{
    display: inline-block;
    float: right;
}

/* Link Teorico */
a.uno:link, a:visited {
    background-color: #f44336;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 29px 50px;
    font-size: 35px;
}

a.uno:hover, a:active {
    background-color: red;
}

/* Link Manual */
a.dos:link, a:visited {
    background-color: #f44336;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 29px 50px;
    font-size: 35px;
}

a.dos:hover, a:active {
    background-color: red;
}

.numero {
    position: absolute;
    top: 335px;
    right: 18px;
    width: 355px;
    height: 315px;
    border: 5px solid #fffafa;
    color: #C1A841;
    border-radius: 7px;
    font-size: 20px;
    text-align: center;
}



.canvas{
    position: absolute;
    top: 90px;
    left: 10px;
    width: 850px;
    height: 770px;
}

.ejer{
    border:5px solid#fffaf3;
    border-radius: 7px;
    margin: 0px 0px 145px 0px;
}

.numero input {
    margin: 10px 0 0 10px;
    width: 60px;
    height: 20px;
}

.cargas {
    position: fixed;
    top: 735px;
    width: 290px;
    height:55px;
    border: 7px solid #fffafa;
    margin: 0px 0px 20px 150px;
    background: white;
    border-radius: 7px;
    color: black;
    text-align: center;
    font-size: 30px;
}

.cargas input{
    width: 25px;
    height: 25px;
}
